<div class="card anime-card border-0">
    <div class="skeleton skeleton-image"></div>
    @* <div class="skeleton skeleton-text-line mt-3 mx-auto"></div> *@

    <div class="card-body">
        <h5 class="skeleton skeleton-text-line mx-auto"></h5>
        @* <p class="skeleton skeleton-text-line-short"></p>
        <div class="skeleton skeleton-button"></div> *@
    </div>
</div>

@code {

}