<MudCard Elevation="0" Class="anime-card">
    <MudCardMedia Class="skeleton skeleton-image"></MudCardMedia>
    @* <div class="skeleton skeleton-text-line mt-3 mx-auto"></div> *@

    <MudCardContent Class="card-body">
        <MudText Typo="Typo.body2" Class="skeleton skeleton-text-line mx-auto"></MudText>
        @* <p class="skeleton skeleton-text-line-short"></p>
        <div class="skeleton skeleton-button"></div> *@
    </MudCardContent>
</MudCard>

@code {

}
