@inherits LayoutComponentBase

@* Required *@
<MudThemeProvider Theme="@MyTheme" />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<div class="page">
    <NavBar></NavBar>
    <main class="main-content">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    MudTheme MyTheme = new()
    {
        PaletteLight = new PaletteLight()
        {
            Primary = "#FF9000",
            Secondary = "#000000",
            Background = "#FDFDFD",
            Surface = "#FFFFFF",
            TextPrimary = "#000000",
            Success = "#FF9000"
        },
        Typography = new Typography()
        {
            Default = new DefaultTypography()
            {
                FontFamily = new[] { "Poppins", "Helvetica", "Arial", "sans-serif" }
            }
        }
    };
}