@using AnimeHubClient.Services
@using Microsoft.AspNetCore.Components.Authorization
@inject IAuthService AuthService
@inject NavigationManager Navigation
@inject IJSRuntime JSRuntime

<nav class="navbar navbar-expand-md navbar-dark fixed-top py-3" id="mainNavbar">
    <div class="container">
        <!-- Brand -->
        <a class="navbar-brand d-flex align-items-center" href="/">
            <img src="/images/Logo.svg" loading="lazy" alt="AnimeHub" height="45" class="me-2" />
        </a>

        <!-- Mobile Toggle -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Center Links -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mx-auto mb-2 mb-md-0 text-center">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Home</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/animes">Catalog</NavLink>
                </li>

                <AuthorizeView Roles="Admin">
                    <li class="nav-item dropdown">
                        <NavLink class="nav-link" href="#" data-bs-toggle="dropdown">
                            Manage
                        </NavLink>

                        <ul class="dropdown-menu text-center text" style="background-color: rgba(18, 18, 18, 0.6);">
                            <li class="nav-item">
                                <NavLink class="nav-link" href="/admin/animes">Anime</NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="/admin/categories">Category</NavLink>
                            </li>
                            @* <li><hr class="dropdown-divider"></li> *@
                        </ul>
                    </li>
           
                    
                </AuthorizeView>
            </ul>

            <!-- Right Buttons -->
            <div class="d-flex align-items-center gap-2">
                <AuthorizeView>
                    <Authorized>
                        <NavLink class="text-white">
                            Hello, @context.User.Identity?.Name!
                        </NavLink>
                        <NavLink @onclick="Logout" class="btn btn-outline-warning btn-sm px-3 fw-semibold">Logout</NavLink>
                    </Authorized>
                    <NotAuthorized>
                        <NavLink href="/register" class="btn btn-outline-warning btn-sm px-3 fw-semibold">Register</NavLink>
                        <NavLink href="/login" class="btn btn-warning btn-sm text-dark px-3 fw-semibold">Login</NavLink>
                    </NotAuthorized>
                </AuthorizeView> 
            </div>
        </div>
    </div>
</nav>

@code {
    // private List<CategoryReadDto>? Categories;
    // private List<GenreReadDto>? Genres;

    // protected override async Task OnInitializedAsync()
    // {
    //     Categories = await Http.GetFromJsonAsync<List<CategoryReadDto>>("api/category");
    //     Genres = await Http.GetFromJsonAsync<List<GenreReadDto>>("api/genre");
    // }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("navbarScroll.init");
        }
    }

    private async Task Logout()
    {
        await AuthService.Logout();
        Navigation.NavigateTo("/", forceLoad: true);
    }
}
